<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Applications</title>
</head>
<body>
<div class="content">
    <h2>My applications</h2>

    <table>
        <thead>
        <tr>
            <th>Application date</th>
            <th>Country</th>
            <th>Visa category</th>
            <th>Start date</th>
            <th>Duration</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${applications}">
            <td th:text="${app.applicationDate}"></td>
            <td th:text="${app.country}"></td>
            <td th:text="${app.visaCategory}"></td>
            <td th:text="${app.entryDate}"></td>
            <td><span th:text="${app.durationDays}"></span> days</td>
            <td th:text="${app.status}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="link" href="#" th:href="@{/applicant}">Main page</a>
    <br>
    <a class="link" href="#" th:href="@{/logout}">Logout</a>
</div>
</body>
</html>