<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Update applicant</title>
</head>
<body>
<div class="content">
    <h2>Update applicant info</h2>
    <form th:action="@{/applicant/update}" method="post" th:object="${applicantDto}">
        <!-- User registration fields -->
        <label>Username:</label>
        <label>
            <input type="text" th:field="*{username}" readonly>
        </label>
        <br>
        <label>Email:</label>
        <label>
            <input type="email" th:field="*{email}" readonly>
        </label>
        <br>
        <label>Last name:</label>
        <label>
            <input type="text" th:field="*{lastName}" required>
            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </label>
        <br>
        <label>First name:</label>
        <label>
            <input type="text" th:field="*{firstName}" required>
            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </label>
        <br>
        <label>Date of birth:</label>
        <label>
            <input type="text" th:field="*{dateOfBirth}" readonly>
        </label>
        <br>
        <label>Passport number:</label>
        <label>
            <input type="text" th:field="*{passportNumber}" readonly>
        </label>
        <br>
        <label>City:</label>
        <label>
            <input type="text" th:field="*{city}" required>
            <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>

        </label>
        <br>
        <label>Profession:</label>
        <label>
            <input type="text" th:field="*{profession}" required>
            <span class="error" th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}"></span>
        </label>
        <br>
        <button type="submit">Save</button>
    </form>
    <a class="link" href="#" th:href="@{/applicant}">Main page</a><br>
    <a class="link" href="#" th:href="@{/logout}">Logout</a>
</div>
</body>
</html>