html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, ul, ol, li, form, label, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2F4F4F;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 0.5%;
}

h2 {
    font-size: 20px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #F0F0F0, #D3D3D3);
    color: #444;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.content {
    padding: 1.5%;
    margin-block: 1%;
    margin-inline: 1.5%;
    background-color: #F5F5F5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 70%;
    height: 90vh;
    overflow: auto;
}

ul, ol {
    margin: 1.5%;
}

li {
    position: relative;
    color: #555;
}

button {
    background-color: #2F4F4F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:disabled,
button[disabled] {
    background-color: #CCCCCC;
    color: #666666;
    cursor: not-allowed;
}

button:hover {
    background-color: #3D5A5A;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.buttons-container {
    display: flex;
    padding: 10px 0;
}

.buttons-container .button {
    margin-right: 18px;
}

form {
    padding: 1.5%;
}

input {
    margin: 1% 0;
    padding: 6px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th, td {
    padding: 6px;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 5px;
}

th {
    background-color: #2F4F4F;
    color: #fff;
    text-align: center;
}

.error {
    color: crimson;
    font-size: 12px;
    margin-top: 4px;
}

.link {
    padding: 1.5%;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 12px;
    background-color: #2F4F4F;
    color: #fff;
    font-size: 14px;
    margin-top: auto;
}

.brd {
    border: 4px double #555;
    padding: 10px;
    border-radius: 8px;
}