<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<div class="content">
    <h1>Visaland Online</h1>
    <p>Please select country and visa category</p>

    <table>
        <thead>
        <tr>
            <th>Visa category</th>
            <th>Maximum duration</th>
            <th>Country</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
            <td><span th:text="${category.maxDurationDays}"> days</span></td>
            <form th:action="@{/visa/select}" method="post">
                <td>
                    <label>
                        <select name="country">
                            <option th:each="country : ${countries}" th:text="${country.name}"
                                    th:value="${country.name}"></option>
                        </select>
                    </label>
                </td>
                <td>
                    <input type="hidden" name="category" th:value="${category.name}"/>
                    <button type="submit" class="button">Select</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="link" href="#" th:href="@{/applicant}">Main page</a>
    <br>
    <a class="link" href="#" th:href="@{/logout}">Logout</a>
</div>
</body>
</html>